<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672378645549-9fp0vsc04muimqi80nb5r81f35c05qri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672378645549-9fp0vsc04muimqi80nb5r81f35c05qri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>672378645549-39lar206rmn2h48h9ti1k53f9evli44h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkMNF17-ohrLBZA-QfdXKxu6njDFa-x44</string>
	<key>GCM_SENDER_ID</key>
	<string>672378645549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dapl.halaladvisor</string>
	<key>PROJECT_ID</key>
	<string>halal-advisor</string>
	<key>STORAGE_BUCKET</key>
	<string>halal-advisor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672378645549:ios:880c7ececc9a80ee</string>
	<key>DATABASE_URL</key>
	<string>https://halal-advisor.firebaseio.com</string>
</dict>
</plist>